@model IEnumerable<LOLComp.Models.MatchViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gameType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platformId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seasonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mapId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gameType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platformId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seasonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameMode)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
