@model LOLComp.Models.SummonerViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutLOLPage.cshtml";
}

<h1>Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileIconID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileIconID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummonerLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummonerLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
</div>
@{
    var differentChampions = Model.matchViewModels.Select(x => x.yourChampion).Distinct().ToList();
    foreach (var champion in differentChampions)
    {
        @Html.ActionLink(" Sort by:" + champion + " |", "Profile", "LOL", new { summonerName = Model.Name, region = Model.Region, championId = champion });
    }
}
<div>
    <partial>
        @{
            Html.RenderPartial("Matches", Model.matchViewModels);
        }
    </partial>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a>@Html.ActionLink("Remove filters", "Profile", "LOL", new { summonerName = Model.Name, region = Model.Region})
</div>
